@page "/forgotPassword"

<h3>Forgot password</h3>

<form @onsubmit="SubmitForm">
    <div>
        <label for="Email">Email:</label>
        <input id="email" type="text" @bind="Email" />
    </div>
    <button type="submit">Send</button>
</form>

<h3>@Message</h3>