@page "/"

<PageTitle>Index</PageTitle>

<h1>BasicAuthApp - app with basic auth functionalities </h1>

It provides endpoints for user login, register, logout and much more, allowing users to securely access and manage their accounts. 
Check for API documentation: https://localhost:7196/swagger/index.html