@page "/resetPassword"

<h3>Reset password</h3>

<form @onsubmit="SubmitForm">
    <div>
        <label for="resetCode">Reset code:</label>
        <input id="resetCode" type="text" @bind="ResetCode" />
    </div>
    <div>
        <label for="newPassword">New password:</label>
        <input id="newPassword" type="password" @bind="NewPassword" />
    </div>
    <button type="submit">Reset</button>
</form>

<h3>@Result</h3>